
.logo--background{
    height: 230px;
    width: 270px;
    align-items: center;
}


.logo--background img {
    height: 145px;
    width: 217px;
}

#logo{
   display: inline-block;
   height: 170px;
   width: 200px;
    align-items: center;
    padding-top: 40px;
   
}


#logo img{
    height: 112px;
    width: 165px;
    margin: 20px 10px;
}



.nav--wrapper{
   width: 100%;
   height: 100%;
    margin: 0;
    
    
}

nav{
    
    order: 1; /*fixed*/
    justify-content: none;
      background-image: none;
     padding: 0;
    width: 25%;
    position: absolute;
    
    
  
}



.nav-links{
    display: flex;
    flex-direction: column;
    padding: 0;
    
    
    
}

.nav--menu{
    flex-direction: column;
    margin-right: 90px;
    padding-top: 20px;
     
}



.select-box--home{
    
 
    width: 241px;
   
}

.select-box--dragons{
    
   
    width: 241px;
   
}

.select-box--test{
    
    
    width: 241px;
   
}

.select-box--cookie{
    
    
    width: 241px;
   
}

.select-box--home img{
    
   
    width: 241px;
   
}

.select-box--dragons img{
    
    
    width: 241px;
   
}

.select-box--test img{
    
   
    width: 241px;
   
}

.select-box--cookie img{
    
 
    width: 241px;
   
}



/*  Dragon pages */


.title{
    /*fixed*/
    font-size: 24x;
}

.dragon-links--images{
     padding: 0;
    margin: 0;
}
.dragon-links--images img{
    height: 165px;
    width: 375px;
    padding: 0;
    margin: 0;
    
}


.dragon-links{
    width: 100%;
    display: flex;
    align-items:flex-start;
    list-style: none;
     flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 0px 0px 10px;
}




/* parent div in any of the dragon pages*/
.fact--wrapper{
    height: 100%;
    width: 100%;
    padding-right: 200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  
    
}

/* child div in any of the dragon pages */
.dragonhead{
    /*fixed*/
    display: flex;
    width: 30%;
    height: 500px;
    padding: 20px 0px 37px 3px;
    margin-bottom: 50px;
    order: 3;
    border: 1px solid #000; /*fixed*/
    
    
}

.dragonhead img{
    /*fixed*/
    width: 308px;
    height: 467px;
    margin: 0;
}

/* child div in any of the dragon pages 
* that contains all the stats and 
* the stat--paragraph div
*/
.stat--container{
    display: flex; /*fixed*/
   height: 500px; /*fixed*/
    border: 1px solid #000;
    width: 30%;
    margin: 0;
    order: 2; /*fixed*/
    position: relative; /*fixed*/
    padding: 0; /*fixed*/
}

.stat--paragraph{
  margin: auto;
  border: none;
  padding: 50px 20px 0px 0px;
  text-align: left;
    width: 90%;
    height: 450px; /*fixed*/
    font-size: 24px; /*fixed*/ 
    
    
    
}

/* child div in any of the dragon pages 
* that contains all the facts and 
* the parchment--text div 
*/
.fact--container{
    overflow-y: scroll;
      width: 63%;
     height: 500px;
     order: 4; /*fixed*/   
    display: inline-block;
    
}

.parchment--text{
    
  margin: 0;
     width: 100%;
  text-align: left;
  font-size: 20px;
}





.homepage--wrapper{

}

.dragon--menu--container{
    width: 100%;
    height: 10px;
  
  
}

.dragons--facts--container{
   
    
 
   
    
}


/*nav*/

.mainmenu--container{
    height: 670px;
    width: 25%;
   
    
    
}


.dragon--links--wrapper{
    display: flex;
    height: 1080px;
    width: 769px;
   

}

.dragon--links--container{
    height: 1080px;
    


}

.homepage--stats--wrapper{

   
 
}