
.logo--background{
    height: 230px;
    width: 270px;
    align-items: center;
}


.logo--background img {
    height: 145px;
    width: 217px;
}

#logo{
   display: inline-block;
   height: 170px;
   width: 200px;
    align-items: center;
    padding-top: 40px;
   
}


#logo img{
    height: 112px;
    width: 165px;
    margin: 20px 10px;
}



.nav--wrapper{
   min-width: 1200px;
   min-height: 100%;
    height:inherit;
    margin: 0;
    right: 0;
    
    
    
}

nav{
    
    order: 1; /*fixed*/
    justify-content: none;
      background-image: none;
     padding: 0;
    width: 25%;
    position: absolute;
    
    
  
}



.nav-links{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 30px;

    
    
    
}

.nav--menu{
    flex-direction: column;
    padding-top: 20px;
    padding-left: 30px;
     
}



.select-box--home{
    
 
    width: 241px;
   
}

.select-box--dragons{
    
   
    width: 241px;
   
}

.select-box--test{
    
    
    width: 241px;
   
}

.select-box--cookie{
    
    
    width: 241px;
   
}

.select-box--home img{
    
   
    width: 241px;
   
}

.select-box--dragons img{
    
    
    width: 241px;
   
}

.select-box--test img{
    
   
    width: 241px;
   
}

.select-box--cookie img{
    
 
    width: 241px;
   
}



/*  Dragon pages */

.dragon--list--title{
    font-size: 55px;
}


.title{
    /*fixed*/
    font-size: 35px;
}

.dragon-links--images{
     padding: 0;
    margin: 0;
}
.dragon-links--images img{
    height: 165px;
    width: 400px;
    padding: 0;
    margin: 0;
    
}


.dragon-links{
    width: 100%;
    display: flex;
    align-items:flex-start;
    list-style: none;
     flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 0px 0px 10px;
}




/* parent div in any of the dragon pages*/
.fact--wrapper{
    height: 100%;
    width: 100%;
    padding-right: 200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  
    
}

/* child div in any of the dragon pages */
.dragonhead{
    /*fixed*/
    display: flex;
    width: 32%;
    height: 500px;
    padding: 20px 0px 37px 14px;
    margin-bottom: 40px;
    order: 3;
    border: 1px solid #000; /*fixed*/
    
    
}

.dragonhead img{
    /*fixed*/
    width: 308px;
    height: 467px;
    margin: 0;
}

/* child div in any of the dragon pages 
* that contains all the stats and 
* the stat--paragraph div
*/
.stat--container{
    display: flex; /*fixed*/
   height: 500px; /*fixed*/
    border: 1px solid #000;
    width: 38%;
    margin: 0;
    order: 2; /*fixed*/
    position: relative; /*fixed*/
    padding: 0; /*fixed*/
}

.stat--paragraph{
  margin: auto;
  border: none;
  padding: 50px 20px 0px 0px;
  text-align: left;
    width: 90%;
    height: 450px; /*fixed*/
    font-size: 24px; /*fixed*/ 
    
    
    
}

/* child div in any of the dragon pages 
* that contains all the facts and 
* the parchment--text div 
*/
.fact--container{
    overflow-y: scroll;
      width: 67%;
     height: 500px;
     order: 4; /*fixed*/   
    display: inline-block;
    margin-bottom: 70px;
    margin-right: 15px;
    
    
}

.parchment--text{
    
  margin: 0;
     width: 100%;
  text-align: left;
}





.homepage--wrapper{

}

.dragon--menu--container{
    width: 100%;
    height: 10px;
  
  
}

.dragons--facts--container{
   
    
 
   
    
}


/*nav*/

.mainmenu--container{
    height: 670px;
    width: 25%;
    
   
    
    
}


.dragon--links--wrapper{
    display: flex;
    height: 1080px;
    width: 820px;
    margin-left: 350px;
   

}

.dragon--links--container{
    height: 1080px;
    
    
    


}

.homepage--stats--wrapper{
    
    width: 90%;
    margin-left: 100px;

   
 
}





/*homepage*/

.dragonology{
    padding-top: 0;
}


.dragonology img{
    width: 575px;
    height: 221px;
 
}



.homepage--title--dragonology{
    
      font-size: 50px;
    
}

.homepage--title{
    
      font-size: 30px;
    
}

.what--dragon{
     font-size: 35px;
    padding-bottom: 30px;
}


.homestats--container{
  
    
    width: 60%;

        
}



/*Fortune cookie page*/


#cave--wonder--title{
    
    font-size: 50px;
    
}

#get--fortune--title{
    
    font-size: 40px;
    
}
     
  
     


.wisedragon--picture img{
    width: 498px;
    height: 432px;
}

  
  

.fortune--cookie--text--container{
    
  margin: 0px 0px 10px 75px;
  width: 90%;
}

.fortune--cookie--text--title{
    
    font-size: 30px;
    
}

.fortune{
    height: 120px;
    font-size: 20px;
    margin: 0px 0px 10px 135px;
    
   
    
}

#fortune--text{
    width: 80%;
    margin: 10px 0px 0px 95px;
    
}


#todays--fortune--button{
    
    height: 78px;
    width: 484px; 
    font-size: 28px;
}

/*Dragon Test*/



.dragontest--title{
      font-size: 40px;
}

.dragontest--text{
     font-size: 30px;
    width: 40%;
}

.under-construction{
    width: 600px;
    height: 700px;
   
    
     
}


