.logo--background{
        background-image:url('../images/BackgroundSrc/dragonscales_homepage.png');
    background-repeat: no-repeat; 
    background-size: cover;
   height: 90px;
   width: 120px;
}



#logo{
   display: inline-block;
   height: 97px;
   width: 120px;
    padding-bottom: 30px;
   
}


#logo img{
    height: 73px;
    width: 100px;
    margin: 20px 10px;
}


#home {
    display: none;

}



.nav--wrapper{
    min-width: 768px;
   min-height: 170px;
    
    
}


nav img {

    min-height: 10px;
    min-width: 30px;        
    
}


.nav-links{
    display: flex;
    justify-content:flex-start;
    padding: 4px 26px 0px 12px;
    
    
}

.nav--menu{
    padding-left: 90px;
    display: flex;
    flex-direction: row;
}



.select-box--home{
    
    height: 128px;
    width: 167px;
   
}

.select-box--dragons{
    
    height: 128px;
    width: 167px;
   
}

.select-box--test{
    
    height: 128px;
    width: 167px;
   
}

.select-box--cookie{
    
    height: 128px;
    width: 167px;
   
}

.select-box--home img{
    
    height: 128px;
    width: 167px;
   
}

.select-box--dragons img{
    
    height: 128px;
    width: 167px;
   
}

.select-box--test img{
    
    height: 128px;
    width: 167px;
   
}

.select-box--cookie img{
    
    height: 128px;
    width: 167px;
   
}





/*  Dragon pages */



.dragon-links--images{
     padding: 0;
    margin: 0;
}
.dragon-links--images img{
    height: 165px;
    width: 375px;
    padding: 0;
    margin: 0;
    
}


.dragon-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    list-style: none;
     flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 0px 0px 10px;
}


.dragonhead{
    
    padding-right: 400px;
    
}

.dragonhead img{
    width: 190px;
    height: 298px;
}

.stat--container{
   display: inline-block;
    padding-bottom: 50px;
    height: 500px;
    width: 50%;
    align-items:center;
    flex-basis: 50%;
    justify-content: flex-start; 
    margin: 0;
    float: left;

}

.stat--paragraph{
  margin: auto;
  border: 1px solid #000;
  padding: 10px;
  text-align: left;
    width: 50%;
    height: 400px;
    
}

.parchment--text{
    
  margin: 0;
     width: 100%;
  text-align: left;
  font-size: 16px;
   
    
}

.fact--wrapper{
    height: 2000px;
}

.fact--container{
      
     display: inline-block;
    

      
}


/* Homepage */

.homepage--stats--wrapper{
    display: inline-block;
    margin: 0;
   
 
}

.homestats--container{
    overflow-y: scroll;
    width: 75%;
    height: 600px;
    width: 600px;
    margin: 0;
    padding: 0;
        
}

.mainmenu--container{
    height: 500px;
   
    
    
}

.homepage--wrapper{
   
     margin: 0;
    padding: 0;

}





/* Scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: aqua; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}


/* dragons */

.dragon--links--wrapper{
    width: 768px;
  
    
    
}

.dragon--links--container{
    


}







